<h2>Stories</h2>

<div class="text-center">
  <p class="lead" *ngIf="loading">Loading ....</p>
</div>
<div>
  <button (click)="postStory()">Post</button>
  <button (click)="getStories()">Get</button>
  <button (click)="getStory()">Get Story</button>
  <button (click)="putStory()">Put</button>

</div>
<div *ngIf="stories">


  <div class="row">
      <div class="col-sm-3">
        
  <app-story-form *ngFor="let story of stories | async" 
    [story]=story (click)="onSelectStory(story)">
  </app-story-form>
</div>
<div class="col-sm-4">
  <div *ngIf="selectedStory">
    <app-story-form *ngFor="let story of selectedStory.CollectionList" 
    [story]=story (click)="onSelectStory(story)">
  </app-story-form>
  

  </div>
</div>
<div class="col-sm-4">
  jammen dog
  </div>
</div>
  <!-- <li *ngFor="let story of stories | async">
    
  </li> -->


</div>