<div ng-controller="ExampleController" draggable="true">
  <form novalidate class="simple-form" ng-if="story"
  (click)="onFormClick($event)"
  >
    
    <h4 draggable="true">{{story.Name}}      <!-- <input type="text" [(ngModel)]="story.Name"  [ngModelOptions]="{standalone: true}" [value]="story.Name"/> -->
    </h4>
    
    
    
    <!-- <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(user)" value="Save" /> -->
  </form>
  <!-- <pre>user = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre> -->
</div>